<br><br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="h1caps"><%= @user.username.capitalize %>'s Profile</div>
      <center>
        <p>
          <% if @user == current_user %>
            <%= link_to "(edit info)", edit_user_registration_path(@user), :class => 'rq-link' %>
          <% end %>
        </p>
        <% if @user == current_user && @user.premium? %>
          <%= button_to "(downgrade)", { :controller => 'users', :action => 'downgrade' }, {class: 'ghost-button-down'} %>
          <% elsif @user == current_user && @user.standard? %>
            <%= link_to "Upgrade to Premium!", new_charge_path, :class => 'ghost-button-del' %>
        <% end %>
        <br><br>
        <p><strong>Username:</strong> <%= @user.username %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Member since:</strong> <%= @user.created_at.strftime("%B %d, %Y") %></p>
        <p><strong>Membership status:</strong> <%= @user.role %></p>
      </center>
  </div>
</div>
