<%= form_for @wiki do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  </div>

  <div id="epiceditor">
      <%= f.text_area :body, rows: 8, cols: 81, placeholder: "Enter wiki body", id: 'text-content' %>
  </div>

  <% if current_user.admin? || current_user.premium? || @wiki.users.include?(current_user) %>
    <div class="form-group light-link">
      <%= f.label :private, class: 'checkbox pull-right' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    </div>
  <% end %>

  <%= f.submit "Save", class: 'ghost-button' %>
  <%= link_to 'Cancel', @wiki, class: 'ghost-button-del' %>
<% end %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/js/epiceditor.js">
  var opts = {
    container: 'epiceditor',
    clientSideStorage: false
  }
  var editor = new EpicEditor(opts).load();
</script>
