<%= form_for @wiki do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  </div>

  <div id="epiceditor">
      <%= f.text_area :body, rows: 8, cols: 81, placeholder: "Enter wiki body" %>
  </div>

  <% if current_user.admin? || current_user.premium? || @wiki.users.include?(current_user) %>
    <div class="form-group grey-link">
      <%= f.label :private, class: 'checkbox pull-right' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    </div>
  <% end %>

  <%= f.submit "Save", class: 'ghost-button' %>
  <%= link_to 'Cancel', @wiki, class: 'ghost-button-del' %>
<% end %>

<script type="text/javascript">
  var opts = {
    container: 'epiceditor',
    textarea: null,
    previewBtn.onclick = function () {
      editor.preview();
    },
    editBtn.onclick = function () {
      editor.edit();
    },
    button: {
      preview: true,
      fullscreen: true
    },
    string: {
      togglePreview: 'Toggle Preview Mode',
      toggleEdit: 'Toggle Edit Mode',
      toggleFullscreen: 'Enter Fullscreen'
    }
  }

  var editor = new EpicEditor(opts).load();

</script>
