<%= form_for @wiki do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
  </div>

  <% if current_user.admin? || current_user.premium? || @wiki.users.include?(current_user) %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox pull-right' do %>
        <%= f.check_box :private, checked: true %> Private wiki
      <% end %>
    </div>
  <% end %>

  <%= f.submit "Save", class: 'ghost-button' %>
<% end %>
