<br><br>
<div class="row">
    <div class="snow-caps-big">Upgrade to a premium account</div>
      <center>
        <br><br>
        <p>Create private wikis for only $15</p>
        <br><br>
        <%= form_tag charges_path do %>
          <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
          data-key="<%= @stripe_btn_data[:key] %>" data-email="<%= current_user.email %>"
          data-amount=<%= @stripe_btn_data[:amount] %> data-description="
          <%= @stripe_btn_data[:description] %>" ></script>
        <% end %>
      </center>
    </div>
</div>
