<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <title>Wiki World</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/themes/base/epiceditor.css">
</head>
<body>

  <div class="container font">
    <div class="navbar">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path, :class => 'light-link' %></li>
        <li><%= link_to "About", about_path, :class => 'light-link' %></li>
        <div class="pull-right user-info">
          <% if user_signed_in? %>
            <p>Signed in as: <strong><%= link_to current_user.username, user_path(current_user), :class => 'light-link' %></strong> |
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'light-link' %> -
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'light-link'  %></p>
          <% else %>
          <p>
            <%= link_to "sign up", new_user_registration_path, :class => 'light-link'  %> -
            <%= link_to "sign in", new_user_session_path, :class => 'light-link'  %>
          </p>
          <% end %>
        </div>
      </ul>
      <% flash.each do |key, value| %>
        <div class="alert <%= alert_class_for(key) %> alert-dismissible fade in">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/js/epiceditor.js"></script>
</body>
</html>
